table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.box {
    width: 200px;
    height: 150px;
    border: 1px dotted grey;
}


/* .mainbox {
    overflow-x: auto;
} */